header {
    height: 50px;
    background: #ffffff;
    border: 1px;
    border-color: #cccccc;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
}

body {
    background-image: url('/images/background.png');
}

#main-body-header {
    font-weight: bold;
    width: 200px;
    height: 30px;
    padding: 10px;
    text-align: left;
    color: #4aaaa5;
}

hr {
    background-color: #666666;
    padding: 0px 10px 0px 10px;
}

.footer {
    height: 50px;
    padding: 10px;
    background: #666666;
    border-top: 8px solid #4aaaa5;
    text-align: center;
    clear: both;
    height: 50px;
    margin-top: -50px;
}


#header-elements {
    position: relative;
    margin-left: 200px;
    margin-right: 200px;
}

#my-name {
    position: absolute;
    width: 70px;
    left: 0px;
    font-weight: bold;
    float: left;
    width: 200px;
    height: 35px;
    padding: 15px 0px 0px 20px;
    text-align: left;
    background: #4aaaa5;
}

#about {
    position: absolute;
    width: 70px;
    right: 200px;
    height: 40px;
    padding: 15px;
    text-align: center;
    color: #777777;
}

#portfolio {
    position: absolute;
    width: 70px;
    right: 130px;
    height: 40px;
    padding: 15px;
    text-align: center;
    color: #777777;
}

#contact {
    position: absolute;
    right: 60px;
    height: 40px;
    padding: 15px;
    text-align: center;
    color: #777777;
}

#main-content {
    min-height: calc(100vh - 180px);
    display: block;
    clear: both;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 20px;
    margin-bottom: 70px;
    width: 960px;
    padding: 10px;
    color: #777777;
    background: #ffffff;
    border-color: #dddddd;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

#its-me {
    width: 203px;
    height: 232px;
    float: left;
}